In [2]:
# First submission
# Load train csv
import pandas as pd
df_train = pd.read_csv('../data/train.csv')

In [3]:
df_train.head()

  image_name                                       tags
0    train_0                               haze primary
1    train_1            agriculture clear primary water
2    train_2                              clear primary
3    train_3                              clear primary
4    train_4  agriculture clear habitation primary road

In [5]:
# Build list with unique labels
label_list = []
for tag_str in df_train.tags.values:
    labels = tag_str.split(' ')
    for label in labels:
        if label not in label_list:
            label_list.append(label)
            
print(label_list)

['haze', 'primary', 'agriculture', 'clear', 'water', 'habitation', 'road', 'cultivation', 'slash_burn', 'cloudy', 'partly_cloudy', 'conventional_mine', 'bare_ground', 'artisinal_mine', 'blooming', 'selective_logging', 'blow_down']

In [9]:
# Add onehot features for every label
for label in label_list:
    df_train[label] = df_train['tags'].apply(lambda x: 1 if label in x.split(' ') else 0)
# Display head
df_train.head()

,image_name,tags,haze,primary,agriculture,clear,water,habitation,road,cultivation,slash_burn,cloudy,partly_cloudy,conventional_mine,bare_ground,artisinal_mine,blooming,selective_logging,blow_down
0,train_0,haze primary,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,train_1,agriculture clear primary water,0,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0
2,train_2,clear primary,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
3,train_3,clear primary,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
4,train_4,agriculture clear habitation primary road,0,1,1,1,0,1,1,0,0,0,0,0,0,0,0,0,0

In [27]:
# get list of all test-jpgs

import os
test_images = os.listdir('../data/test-jpg')
test_ids = [name.split('.')[0] for name in test_images]
#print(test_ids)
sub = pd.DataFrame({'image_name':test_ids})
sub['tags'] = 'primary'

print(sub.head())
sub.to_csv('../submissions/simple_submission.csv', index=False)

  image_name     tags
0     test_0  primary
1     test_1  primary
2    test_10  primary
3   test_100  primary
4  test_1000  primary

In [18]:
'test_13152.jpg'.split('.')[0]

'test_13152'